<div class='container'>
  <div class='row'>
    <div class='col-lg-7 col-md-9 mx-auto align-items-center'>
      <h2 class="text-center mt-4">Posts#show</h2>
      <h2>Actions --></h2>
      <%= link_to 'Edit', edit_admin_post_path(@post) %>
      <%= link_to 'Index', admin_post_comments_path(@post) %>
      <%= link_to 'Delete', admin_post_path(@post), method: :delete, data: {confirm: '削除しますか？'} %>

      <h3>Title --></h3>
      <%= @post.title %>

      <h3>Content --></h3>
      <%# simple_formatは、pタグで囲み、改行コードをbrに変換する %>
      <%= @post.post_content %>
      <h3>Comment --></h3>
      <% @comments.each do |comment| %>
      <%= comment.user.first_name %><%= comment.user.last_name %>
      <%= comment.post_comment %>
      <% end %>

      <h3>Tags --></h3>
      <ul>
        <%# 該当のPostからアソシエーションでタグを取得 %>
        <% @post.tags.each do |tag| %>
          <%# タグを展開 %>
          <li>
            <%= link_to tag.name, tag_path(tag) %>
          </li>
        <% end %>
    </div>
  </div>
</div>