<h1>グループ詳細</h1>
<div class='container px-5 px-sm-0'>
<%= flash[:notice] %>
  <div class='row'>
    <div class='col-md-3'>
      <%= render partial: "user/users/info", locals: { user: @user }%>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>Group Detail</h2>
      <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th></th>
            <th>グループ名</th>
            <th>紹介文</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
            </td>
            </td>
            <td><%= @group.group_name %></td>
            <td><%= @group.description %></td>
            <td>
              <% if @group.owner_id == current_user.id %>
                <%= link_to 'Edit', edit_group_path(@group), class: "btn btn-sm btn-success" %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      <% @group.group_comments.order(created_at: :desc).each do |gc| %>
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-md-8">
                <%= "#{gc.user.first_name} #{gc.user.last_name}" %>
              </div>
              <div class="col-md-4">
                <%= gc.created_at.in_time_zone('Asia/Tokyo').strftime('%Y年%m月%d日 %H:%M') %>
              </div>
            </div>
            <%= gc.comment %>
          </div>
        </div>
      <% end %>
      <%= form_with model: @comment, url: group_group_comments_path(@group), method: :post do |f| %>
        <div class="form-group">
          <%= f.label :comment, "コメント" %>
          <%= f.text_area :comment, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.submit "投稿する" %>
        </div>
      <% end %>
    </div>