<h1>グループ詳細</h1>
<div class='container px-5 px-sm-0'>
<%= flash[:notice] %>
  <div class='row'>
    <div class='col-md-3'>
      <%= render partial: "user/users/info", locals: { user: @user }%>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>Group Detail</h2>
      <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th></th>
            <th>グループ名</th>
            <th>紹介文</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
            </td>
            </td>
            <td><%= @group.group_name %></td>
            <td><%= @group.description %></td>
            <td>
              <% if @group.owner_id == current_user.id %>
                <%= link_to 'Edit', edit_group_path(@group), class: "btn btn-sm btn-success" %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      <h2>---> Events</h2>
      <div class="card">
        <div class="card-header">
          イベント登録
        </div>
        <div class="card-body">
          <%= form_with model: @event, url: group_events_path(@group), method: :post do |f| %>
          <% if @event.errors.any? %>
            <%= @event.errors.count %>errors
            <ul>
              <% @event.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          <% end %>
            <div class="form-group">
              <%= f.label :start_time, "開始時刻" %>
              <%= f.datetime_field :start_time, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :end_time, "終了時刻" %>
              <%= f.datetime_field :end_time, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :title, "タイトル" %>
              <%= f.text_field :title, class: "form-control" %>
            </div><div class="form-group">
              <%= f.label :description, "説明" %>
              <%= f.text_area :description, class: "form-control" %>
            </div>
            <div class="row">
              <div class="col-md-5 mx-auto">
                <%= f.submit "登録", class: "btn btn-secondary btn-block" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="my-5">
        <div class="row">
          <% @group.events.each do |event| %>
            <div class="col-md-6 mb-3">
              <div class="card">
                <div class="card-header">
                  <h5 class="m-0"><%= event.title %></h5>
                </div>
                <div class="card-body">
                  <%= simple_format(event.description, class: "m-0") %>
                  <div class="start_time">
                    開始: <%= event.start_time.strftime('%Y年%m月%d日 %H時%M分') %>
                  </div>
                  <div class="end_time">
                    終了: <%= event.end_time.strftime('%Y年%m月%d日 %H時%M分') %>
                  </div>
                </div>
                <% if event.user == current_user %>
                  <div class="card-footer">
                    <%= link_to "Destroy", group_event_path(@group, event), method: :delete, data: {confirm: "削除しますか？"} %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <h2>---> Comments</h2>
      <% @group.group_comments.order(created_at: :desc).each do |gc| %>
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-md-8">
                <%= "#{gc.user.first_name} #{gc.user.last_name}" %>
              </div>
              <div class="col-md-4">
                <%= gc.created_at.in_time_zone('Asia/Tokyo').strftime('%Y年%m月%d日 %H:%M') %>
              </div>
            </div>
            <%= gc.comment %>
          </div>
        </div>
      <% end %>
      <%= form_with model: @comment, url: group_group_comments_path(@group), method: :post do |f| %>
        <div class="form-group">
          <%= f.label :comment, "コメント" %>
          <%= f.text_area :comment, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.submit "投稿する" %>
        </div>
      <% end %>
    </div>