<h1>user edit</h1>
   <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-9 mx-auto align-items-center">
        <h2 class="text-center my-4"><i class="fa-solid fa-seedling fa-bounce"></i> <%= @user.last_name + @user.first_name %>の会員情報編集 <i class="fa-solid fa-user-pen fa-bounce"></i></h2>
        <%= form_with model: @user, url: admin_user_path(@user.id) do |f| %>
        <table class="table">
          <tr class="form-group">
            <td>氏名</td>
            <td>
              <%= f.text_field :last_name, class: "ml-3 form-control"%>
            </td>
            <td>
              <%= f.text_field :first_name, class: "ml-3 form-control" %>
            </td>
          </tr>
          <tr class="form-group">
            <td>フリガナ</td>
            <td>
              <%= f.text_field :last_name_kana, class: "ml-3 form-control" %>
            </td>
            <td>
              <%= f.text_field :first_name_kana, class: "ml-3 form-control" %>
            </td>
          </tr>
          </table>
            <div class="text-center">会員ステータス
                <%= f.radio_button :is_active, true, checked: true %> 有効
                <%= f.radio_button :is_active, false %> 退会
                </div>
        <div class="text-center">
          <%= f.submit "変更を保存", class: "btn btn-dark rounded-pill text-lig mt-5" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
